*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: auto;
    font-family: "Poppins", serif;
    background-color: lightcyan;
}
header{
    width: 100%;
    height:100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 30%;
    height: auto;
    font-size: 6vw;
    margin-left: 10%;
}
.nav-bar{
    width:70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav-bar nav{
    width: 100%;
    height: auto;
}
.nav-bar nav ul {
    width: 100%;
    height: auto;
    display: flex;
    font-size: 3.5vw;
    justify-content: center;
    gap: 20px;
}
.nav-bar nav ul{
    list-style: none;
    
}
a{
    text-decoration: none;
    color: black;
}



@media (min-width:425px) {
    .nav-bar nav ul{
        font-size: 3.4vw;
    }

}

@media (min-width:480px){
    .nav-bar nav ul{
        font-size: 15px;
    }
    .logo{
        font-size: 30px;
    }
}

.logo-in-main{
    width:100%;
    height:auto;
    background-color:white;
}
.logo-in-main img{
    width: 100%;
    height: auto;
}






.main-1st-year-sem{
    width: 100%;
    height:auto;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
}

.p-cycle, .c-cycle{
    width: 45%;
    margin: 20px;
    background-color:rgb(255, 255, 255);
    border: 0.5px solid black;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
}

h1{
    margin: 15px;
}
.subjects-list{
    width: fit-content;
    height: auto;
    padding: 20px;
    margin: auto;

    text-align: left;
}

.subjects-list ul li{
    margin: 15px;
}

@media (max-width:426px){
    .main-1st-year-sem{
        flex-direction: column;
        align-items: center;
    }
    .p-cycle, .c-cycle{
        width: 80%;

    }
}

@media (max-width:256px){
    .p-cycle, .c-cycle{
        font-size: 6vw;
    }
}

@media (min-width:426px) and (max-width:490px){
    .p-cycle, .c-cycle{
        font-size: 2.9vw;
    }
}